
<form action="/articles" method="post">
    <label for="title">Team Name: </label>
    <input id="title" type="text" name="title"><br>
    
    <label for="content">Team Motto: </label>
    <input id="content" type="text" name="content"><br>

    <input id="submit" type="submit">
</form>
