<form method="post" action="/articles">
    <label>Title: <input type="text" name="title"></label>
    <label>Content: <textarea type="text" name="content"></textarea></label>
    <input type="submit" value="Submit">
</form>