<form method="POST" action="/articles">
    <label>Article Title: </label>
    <input type="text" id="title" name="title">
    <label>Article Content: </label>
    <input type="text" id="contenct" name="content">
    <input type="submit">
</form>