<form action="/articles" method="post">
<h1>New Articles!!</h1>
<label for="article">New Article Title:</label>
<input type="text" id="title" name="title">
<label for="article_content">Content:</label>
<input type="text" id="content" name="content">
<input type="submit" value="submit">
</form>