<!-- This is the new article page -->
<form method="POST" action="/articles">
    <label for='title'>Title: </label><br />
    <input type='text' name='title'><br />
    <label for='content'>Content: </label><br />
    <input type='text' name='content'>
    <br />
    <br />
    <input type='submit' value='Submit'>
</form>