<form method="POST" action="/articles">
    <label>Article Title: </label>
    <input type="text" id="title" name="article[title]">
    <label>Article Content: </label>
    <input type="text" id="contenct" name="article[content]">
    <input type="submit">
</form>