<form <form method="POST" action='/articles/<%= @article.id %>'>
    <input id="hidden" type="hidden" name="_method" value="delete">
    <%= @article.title %>
    <%= @article.content %>
    <input type="submit" value="Delete">
</form>