<form method="POST" action="/articles/<%= @article.id %>">
<input id="hidden" type="hidden" name="_method" value="delete">
<h1><center><%= @article.title %></center></h1>
<p>
<%= @article.content %>
</p>
<input type="submit" class="like" value="Delete" />
</form>