<form action="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="DELETE">
<h1><%= @article.title %></h1>
<h2><%= @article.content %></h2>
<input type="submit" value="delete">
</form>

